torch
torchvision
numpy
pytest
coverage
matplotlib
mypy
opacus
scikit-learn
torchsummary
tqdm
python-telegram-bot
nltk
torchtext
python-dotenv
regex
wandb
black
black[jupyter]
isort
pandas
dill
multiprocess
